In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [23]:
from mlxtend.plotting import plot_decision_regions
import missingno as msno
from pandas.plotting import scatter_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import GridSearchCV
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [24]:
df = pd.read_csv('heart_failure_clinical_records_dataset.csv')

In [25]:
df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [26]:
df[['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes', 'ejection_fraction','high_blood_pressure','platelets','serum_creatinine','serum_sodium','sex','smoking','time']] = df[['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes', 'ejection_fraction','high_blood_pressure','platelets','serum_creatinine','serum_sodium','sex','smoking','time']].replace(0, np.NaN)

In [27]:
df['age'].fillna(df['age'].mean(), inplace=True)
df['anaemia'].fillna(df['anaemia'].mean(), inplace=True)
df['creatinine_phosphokinase'].fillna(df['creatinine_phosphokinase'].median(), inplace=True)
df['diabetes'].fillna(df['diabetes'].median(), inplace=True)
df['ejection_fraction'].fillna(df['ejection_fraction'].median(), inplace=True)
df['high_blood_pressure'].fillna(df['high_blood_pressure'].median(), inplace=True)
df['platelets'].fillna(df['platelets'].median(), inplace=True)
df['serum_creatinine'].fillna(df['serum_creatinine'].median(), inplace=True)
df['serum_sodium'].fillna(df['serum_sodium'].median(), inplace=True)
df['sex'].fillna(df['sex'].median(), inplace=True)
df['smoking'].fillna(df['smoking'].median(), inplace=True)
df['time'].fillna(df['time'].median(), inplace=True)
df.isnull().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [28]:
X = df.drop(columns='DEATH_EVENT')
y = df['DEATH_EVENT']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

In [29]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators=20)
classifier.fit(X_train, y_train)

RandomForestClassifier(n_estimators=20)

In [30]:
from sklearn.metrics import accuracy_score
y_pred = classifier.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
accuracy

0.85

In [31]:
import pickle
pickle.dump(classifier, open('modelHEART.pkl','wb'))
model = pickle.load(open('modelHEART.pkl','rb'))

In [32]:
X

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,75.0,1.0,582,1.0,20,1.0,265000.00,1.9,130,1.0,1.0,4
1,55.0,1.0,7861,1.0,38,1.0,263358.03,1.1,136,1.0,1.0,6
2,65.0,1.0,146,1.0,20,1.0,162000.00,1.3,129,1.0,1.0,7
3,50.0,1.0,111,1.0,20,1.0,210000.00,1.9,137,1.0,1.0,7
4,65.0,1.0,160,1.0,20,1.0,327000.00,2.7,116,1.0,1.0,8
...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,1.0,61,1.0,38,1.0,155000.00,1.1,143,1.0,1.0,270
295,55.0,1.0,1820,1.0,38,1.0,270000.00,1.2,139,1.0,1.0,271
296,45.0,1.0,2060,1.0,60,1.0,742000.00,0.8,138,1.0,1.0,278
297,45.0,1.0,2413,1.0,38,1.0,140000.00,1.4,140,1.0,1.0,280
298,50.0,1.0,196,1.0,45,1.0,395000.00,1.6,136,1.0,1.0,285